*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
.header{
    grid-area: header;
}
.main{  
    grid-area: main;
}
.nav{
    grid-area: nav;
}
.footer{
    grid-area: footer;
}

.sidebar{
        grid-area: sidebar;
        /* background-color: aqua; */
}
.sidebar2{
    grid-area: sidebar2;
}
.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "nav"
    /* "sidebar" */
    "main"
    "footer"
    ;
}
@media (min-width: 600px){
    .grid-container{
        grid-template: 
        "header   header" 50px
        "nav      nav"    100px
        "sidebar  main"    auto
        "footer   footer"  100px /
        200px     auto
        ;
    }
}
@media (min-width: 900px){
    .grid-container{
        grid-template: 
        "header   header header" 50px
        "nav      nav    nav   " 100px
        "sidebar main   sidebar2" auto
        "footer   footer footer"  100px /
        200px     auto   200px
        ;
    }


}
@keyframes slide-down {
    0% {
    transform: translateY(-100%);
    opacity: 0;
    }
    100% {
    transform: translateY(0);
    opacity: 1;
    }
}

.header h1 {
    animation: slide-down 1s ease;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111; /* Color de fondo oscuro */
    background-image: url('../resources/stars.jpeg'); /* Imagen de fondo con estrellas */
    background-size: cover; /* Ajusta el tamaño de la imagen al contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    color: #fff; /* Color de texto blanco */
}

header {
    background-color:#180922; /* Violeta */
    color: white;
    padding: 30px ;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}
.nav-container {
    display: flex;
    justify-content: flex-end; /* Alinear elementos a los extremos */
    align-items: center; /* Centrar verticalmente */
    padding: 10px ; /* Añadir un poco de espacio interno */
    background-color: #180922; /* Violeta */
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.search-container {
    position: center;
    justify-content: center;
    order: -1;
}

.search-container input[type="text"] {
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 200px;
    transition: width 0.4s ease-in-out;
}

.search-container input[type="text"]:focus {
    width: 300px;
}

.search-container button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.search-container button i {
    color: #7c7878;
}
.nav-buttons {
    display: flex; /* Alinear botones en fila */
    gap: 10px; /* Agregar espacio entre botones */
    order: 2;
}

.nav-buttons a {
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    background-color:#180922; /* Violeta más oscuro */
    border-radius: 5px;
}

.nav-buttons a:hover {
    background-color: #6a1b9a; /* Violeta */
}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff; /* Color del texto por defecto */
    font-size: 18px;
    border-radius: 5px;
    padding: 6px 10px;/* Añadir padding para que el fondo se vea bien */
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el color y el fondo */
}

nav ul li a i {
    margin-right: 5px;
}
nav ul li a:hover {
    background-color: #6a1b9a; /* Color de fondo violeta al hacer hover */
    color: #fff; /* Color del texto blanco al hacer hover para contraste */
}
.container.log {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Sidebar */
.main-container {
    display: grid;
    place-items: left; /* Esto centrará el sidebar2 en ambas direcciones */
    padding: 10px;
}
.sidebar {
    /* background: #f9f9f9; */
    /* padding: 15px; */
    /* border: 1px solid #ddd; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticket-image {
    max-width: 100%;
    height: auto;
    display: block;
    /* border: 1px solid #ddd; */
}
main {
    padding: 20px;
}
.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    text-decoration: none; /* Quitamos el subrayado del enlace */
    transition: background-color 0.3s ease; /* Efecto de transición suave */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.category {
    background-color:#180922; /* Violeta más oscuro */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    perspective: 1000px; /* Establece la perspectiva */
    overflow: hidden; /* Oculta el desbordamiento */
}
.category:hover {
    background-color: #6a1b9a; /* Cambiamos el color al hacer hover */
    transform: rotateY(20deg); /* Rotación en el eje Y al hacer hover */
}
.category img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    height: 200px;
    width: 100%; /* Ajusta el ancho de la imagen */
    transition: transform 0.5s; /* Agrega una transición suave */
}
.category span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    transition: opacity 0.5s; /* Agrega una transición suave */
    opacity: 0; /* Inicialmente invisible */
}

.category:hover span {
    opacity: 1; /* Muestra el texto al hacer hover */
}
/* Estilos para el botón de Carrito de compras */
.cart-button {
    background-color: #e65100; /* Color naranja */
}
.cart-button:hover {
    background-color: #ff9800; /* Naranja más claro al pasar el mouse */
}
.categories-container {
    margin-bottom: 100px; /* Ajusta este valor según la altura de tu footer */
    padding-bottom: 20px; /* Asegura espacio adicional en la parte inferior para evitar solapamientos */
    /* position: relative; /* Establece la posición relativa para poder usar z-index */
    /* z-index: 0; Asegura que la sección de categorías esté por encima del footer */ 
}
footer {
    background-color: #180922; /* Violeta */
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 0; 
    bottom: 0;
    position: fixed;
    margin-top: -123px;
}

/* Estilos específicos de la página principal */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    background-color:#180922; 
    color: white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 200px;
}

/* Estilos específicos de la página de búsqueda */
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/* Estilos adicionales para la clase log */
.container.log {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.container.log input[type="text"],
.container.log input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.container.log input[type="submit"] {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container.log input[type="submit"]:hover {
    background-color: #218838;
}
.register-button {
    display: inline-block;
    padding: 14px 20px;
    margin: 8px 0;
    font-size: 13px;
    color: #fff;
    background-color: #6a1b9a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.container.log input[type="email"],
.container.log input[type="password"],
.container.log input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.register-button:hover {
    background-color: #8e24aa;
}
/* Flex container for the buttons */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-container input[type="submit"] {
    width: calc(50% - 11px);
}

.button-container .register-button {
    width: calc(50% - 11px);
}

input[type="submit"] {
    background-color: #6a1b9a; /* Violeta */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8e24aa; /* Violeta más oscuro */
}
.no-decoration {
    text-decoration: none;
}


/* Estilos específicos de la página de checkout */
.checkout-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilos específicos de la página de contacto */
.contact-page {
    color: #6a1b9a; 
}
.contact-form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5; /* Cambia el color de fondo a gris claro */
    padding: 20px;
    border-radius: 5px;
    color: #6a1b9a; /* Mantiene el color de letra violeta */
}

.contact-form select option,
.contact-form input[type="radio"] + label {
    color: #333; /* Cambia el color a gris oscuro */
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #7c16a4; /* Cambiar el color de letra a violeta */
}

/* --------------------footer--------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#180922; /* Violeta */
    color: white;
    text-align: center;
    padding: 8px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons li {
    margin: 0 5px;
}

.social-icons li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #ff6600; /* Cambia el color al pasar el cursor sobre el enlace */
}

.copyright {
    margin-top: 20px;
}

.cart-container {
    position: relative;
}

.cart-content {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}

.cart-button:hover + .cart-content {
    display: block;
}
.social-media {
    display: flex;
    gap: 10px; /* Espacio entre los íconos */
    justify-content: center; /* Centrar los íconos */
    padding: 10px;
}

.social-media a {
    text-decoration: none;
    color: #fffcfc; /* Color de los íconos */
    font-size: 24px; /* Tamaño de los íconos */
}

.social-media a:hover {
    color: #0073e6; /* Color al pasar el cursor */
}